<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Mobile Phone List</title>
</head>

<body>

    <h1>Mobile Phone Details</h1>


    <!-- 1. All Phone Names and Prices -->

    <h2>All Phone Names and Prices</h2>

    <table border="1">

        <tr>
            <th>Phone Name</th>
            <th>Price</th>
        </tr>

        <tr th:each="phone : ${phoneList}">
            <td th:text="${phone[0]}"></td>
            <td th:text="${phone[1]}"></td>
        </tr>

    </table>


    <br><br>


    <!-- 2. Phones Below ₹20,000 -->

    <h2>Phones Below ₹20,000</h2>

    <table border="1">

        <tr>
            <th>Phone Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Type</th>
        </tr>

        <tr th:each="phone : ${cheapPhones}">
            <td th:text="${phone.phonename}"></td>
            <td th:text="${phone.brand}"></td>
            <td th:text="${phone.price}"></td>
            <td th:text="${phone.type}"></td>
        </tr>

    </table>


    <br><br>


    <!-- 3. Total Number of Phones Grouped by Type -->

    <h2>Total Phones Grouped by Type</h2>

    <table border="1">

        <tr>
            <th>Type</th>
            <th>Total Phones</th>
        </tr>

        <tr th:each="phone : ${phoneCountByType}">
            <td th:text="${phone[0]}"></td>
            <td th:text="${phone[1]}"></td>
        </tr>

    </table>


    <br><br>

    <a th:href="@{/phoneform}">
        Add Another Phone
    </a>

</body>
</html>